
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 style="color:#1f81bf" class="modal-title" id="myProfesorLabel" data-translate="easyscheduleApp.profesor.home.createOrEditLabel">Create or edit a Profesor</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.profesor.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.profesor.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="easyscheduleApp.profesor.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.profesor.nombre"
                    required/>
            <div ng-show="editForm.nombre.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombre.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="easyscheduleApp.profesor.primerApellido" for="field_primerApellido">Primer Apellido</label>
            <input type="text" class="form-control" name="primerApellido" id="field_primerApellido"
                    ng-model="vm.profesor.primerApellido"
                    required/>
            <div ng-show="editForm.primerApellido.$invalid">
                <p class="help-block"
                    ng-show="editForm.primerApellido.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="easyscheduleApp.profesor.segundoApellido" for="field_segundoApellido">Segundo Apellido</label>
            <input type="text" class="form-control" name="segundoApellido" id="field_segundoApellido"
                    ng-model="vm.profesor.segundoApellido"
                    required/>
            <div ng-show="editForm.segundoApellido.$invalid">
                <p class="help-block"
                    ng-show="editForm.segundoApellido.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="easyscheduleApp.profesor.codProfesor" for="field_codProfesor">Cod Profesor</label>
            <input type="number" class="form-control" name="codProfesor" id="field_codProfesor"
                    ng-model="vm.profesor.codProfesor"
                    required /><!-- max="3" -->
            <div ng-show="editForm.codProfesor.$invalid">
                <p class="help-block"
                    ng-show="editForm.codProfesor.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.codProfesor.$error.max" data-translate="entity.validation.max" translate-value-max="3">
                    This field cannot be more than 3.
                </p>
                <p class="help-block"
                    ng-show="editForm.codProfesor.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="easyscheduleApp.profesor.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.profesor.email"
                    required/>
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                    ng-show="editForm.email.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="easyscheduleApp.profesor.categoria" for="field_categoria">Categoria</label>
            <input type="text" class="form-control" name="categoria" id="field_categoria"
                    ng-model="vm.profesor.categoria"
                    required/>
            <div ng-show="editForm.categoria.$invalid">
                <p class="help-block"
                    ng-show="editForm.categoria.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="easyscheduleApp.profesor.numCreditosImpartir" for="field_numCreditosImpartir">Num Creditos Impartir</label>
            <input type="number" class="form-control" name="numCreditosImpartir" id="field_numCreditosImpartir"
                    ng-model="vm.profesor.numCreditosImpartir"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="easyscheduleApp.profesor.prioridad" for="field_prioridad">Prioridad</label>
            <input type="number" class="form-control" name="prioridad" id="field_prioridad"
                    ng-model="vm.profesor.prioridad"
                    required/> <!-- max="2" -->
            <div ng-show="editForm.prioridad.$invalid">
                <p class="help-block"
                    ng-show="editForm.prioridad.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.prioridad.$error.max" data-translate="entity.validation.max" translate-value-max="2">
                    This field cannot be more than 2.
                </p>
                <p class="help-block"
                    ng-show="editForm.prioridad.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="easyscheduleApp.profesor.login" for="field_login">Login</label>
            <input type="text" class="form-control" name="login" id="field_login"
                    ng-model="vm.profesor.login"
                    required/>
            <div ng-show="editForm.login.$invalid">
                <p class="help-block"
                    ng-show="editForm.login.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="easyscheduleApp.profesor.usuAlta" for="field_usuAlta">Usu Alta</label>
            <input type="text" class="form-control" name="usuAlta" id="field_usuAlta"
                    ng-model="vm.profesor.usuAlta"
                    required/>
            <div ng-show="editForm.usuAlta.$invalid">
                <p class="help-block"
                    ng-show="editForm.usuAlta.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
