<div>
    <h2 data-translate="easyscheduleApp.profesor.home.title">Profesors</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="profesor.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="easyscheduleApp.profesor.home.createLabel">
                        Create new Profesor
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombre"><span data-translate="easyscheduleApp.profesor.nombre">Nombre</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="primerApellido"><span data-translate="easyscheduleApp.profesor.primerApellido">Primer Apellido</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="segundoApellido"><span data-translate="easyscheduleApp.profesor.segundoApellido">Segundo Apellido</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="codProfesor"><span data-translate="easyscheduleApp.profesor.codProfesor">Cod Profesor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span data-translate="easyscheduleApp.profesor.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="categoria"><span data-translate="easyscheduleApp.profesor.categoria">Categoria</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numCreditosImpartir"><span data-translate="easyscheduleApp.profesor.numCreditosImpartir">Num Creditos Impartir</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prioridad"><span data-translate="easyscheduleApp.profesor.prioridad">Prioridad</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="usuAlta"><span data-translate="easyscheduleApp.profesor.usuAlta">Usu Alta</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="profesor in vm.profesors track by profesor.id">
                    <!-- <td><a ui-sref="profesor-detail({id:profesor.id})">{{profesor.id}}</a></td> -->
                    <td>{{profesor.id}}</td>
                    <td>{{profesor.nombre}}</td>
                    <td>{{profesor.primerApellido}}</td>
                    <td>{{profesor.segundoApellido}}</td>
                    <td>{{profesor.codProfesor}}</td>
                    <td>{{profesor.email}}</td>
                    <td>{{profesor.categoria}}</td>
                    <td>{{profesor.numCreditosImpartir}}</td>
                    <td>{{profesor.prioridad}}</td>
                    <td>{{profesor.usuAlta}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="profesor-detail({id:profesor.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="profesor.edit({id:profesor.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                             <button type="submit"
                                    ui-sref="profesor.getsubjects({id:profesor.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="easyscheduleApp.profesor.home.selections"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="profesor.delete({id:profesor.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
