<div>
    <h2 data-translate="easyscheduleApp.asignatura.home.title">Asignaturas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="asignatura.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="easyscheduleApp.asignatura.home.createLabel">
                        Create new Asignatura
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombre"><span data-translate="easyscheduleApp.asignatura.nombre">Nombre</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="plan"><span data-translate="easyscheduleApp.asignatura.plan">Plan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="titulacion"><span data-translate="easyscheduleApp.asignatura.titulacion">Titulacion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creditos"><span data-translate="easyscheduleApp.asignatura.creditos">Creditos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="num_grupos"><span data-translate="easyscheduleApp.asignatura.num_grupos">Num Grupos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creditos_teoricos"><span data-translate="easyscheduleApp.asignatura.creditos_teoricos">Creditos Teoricos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creditos_practicas"><span data-translate="easyscheduleApp.asignatura.creditos_practicas">Creditos Practicas</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="num_grupos_teoricos"><span data-translate="easyscheduleApp.asignatura.num_grupos_teoricos">Num Grupos Teoricos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="num_grupos_practicas"><span data-translate="easyscheduleApp.asignatura.num_grupos_practicas">Num Grupos Practicas</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="usu_alta"><span data-translate="easyscheduleApp.asignatura.usu_alta">Usu Alta</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="asignatura in vm.asignaturaProfesors track by asignatura.id">
                    <td><a ui-sref="asignatura-detail({id:asignatura.id})">{{asignatura.id}}</a></td>
                    <td>{{asignatura.nombre}}</td>
                    <td>{{asignatura.plan}}</td>
                    <td>{{asignatura.titulacion}}</td>
                    <td>{{asignatura.creditos}}</td>
                    <td>{{asignatura.num_grupos}}</td>
                    <td>{{asignatura.creditos_teoricos}}</td>
                    <td>{{asignatura.creditos_practicas}}</td>
                    <td>{{asignatura.num_grupos_teoricos}}</td>
                    <td>{{asignatura.num_grupos_practicas}}</td>
                    <td>{{asignatura.usu_alta}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="asignatura-detail({id:asignatura.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="asignatura.edit({id:asignatura.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="asignatura.delete({id:asignatura.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <!-- <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count> -->
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
    <!-- <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager> -->
</div>
